.booking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}


.selected{
    display: flex;
    
}

.chon-ghe{
  border: 1px solid #000;
  border-radius: 1rem;
}

.btn-st{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  border: 1px solid rgb(71, 71, 71);
  background-color: white;
  margin-left: 1rem;
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: 20px;
}

.btn-st:hover{
  background-color: blue;
  color: white;
}


.dropdown .nav-item{
  width: 5rem;
}

.mt-2 .dropdown-toggle .nav-link{
    width: 5rem;
}

.col{
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-book{
  width: 10%;
  background: #c1e0ee;
  border-radius: 20px;
  border: 0.5px solid #000000;
  margin-top: 1rem;
}

.seats{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column{
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.one-seat{
    height: 3rem;
    width: 3rem;
}



.list-seat {
    margin-left: 80px;
}

.single-seat {
    width: 80px;
}

.seat-plan-section {
    padding-top: 50px !important;
    margin-top: 100px !important;
    margin-bottom: -1100px !important;
}

.seat-plan-section .container {
    height: unset !important;
}

.seat-line 
{
    display: flex !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
    align-items: center;
}

.details-banner {
    margin-top: -100px !important;
}



.seat-area .seat-line .single-seat {
    width: 50px;
    padding: 2px !important;
  }
  .seat-area .seat-line .single-seat img {
    width: 100%;
  }


.seat-area.couple .seat-line .single-seat {
    padding: 10px;
  }
  
  
  /*  zzzz  */
  .seat-area.couple .seat-line .single-seat {
    width: 280%;
    padding-left: 10px !important;
  }

  .single-seat {
    cursor: pointer;
    position: relative;
  }
  .single-seat .sit-num {
    content: "";

    height: 35px;
    border-radius: 10px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 12px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    border: 1.5px solid #340b4d;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color: #ffffff;
  }
  
  
  .single-seat .sit-num {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }


  .single-seat:hover .sit-num {
    background-color: rgb(41, 129, 245);
    color: white;
  }


  .lepp{
      margin-left: 2rem;
  }

  .screen-wrapper {
    margin-top: 3rem;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .screen-wrapper .seat-area {
    width: 800px;
    margin-bottom: 10px;
  }
  .screen-wrapper::-webkit-scrollbar {
    height: 3px;
  }

  .seat-area .seat-line{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .seat-area {
    margin-bottom: 25px;
    margin-top: -5px;
  }
  
 
  
  .seat-area .seat-line {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 0;
  }

  .seat-area.couple {
    margin-top: -10px;
    margin-bottom: 70px;
  }
  

  @media (max-width: 767px) {
    .screen-wrapper {
      width: 100%;
      overflow-x: scroll;
    }
    .screen-wrapper .seat-area {
      width: 800px;
      margin-bottom: 10px;
    }
    .screen-wrapper::-webkit-scrollbar {
      height: 3px;
    }
  }

  @media (min-width: 576px) {
    .seat-area {
      margin-bottom: 55px;
    }
  }

  @media (min-width: 992px) {
    .seat-area.couple {
      margin-bottom: 110px;
    }
  }

  @media (max-width: 991px) {
    .single-seat .sit-num {
      width: 100%;
      font-size: 12px;
      text-align: center;
    }
  }
  
  
  
  @media (max-width: 991px) and (min-width: 768px) {
    .seat-area.couple .seat-line .single-seat {
      width: 70px;
      padding: 4px !important;
    }
  }

  @media (max-width: 991px) and (min-width: 768px) {
    .seat-area.couple .seat-line .single-seat {
      width: 70px;
      padding: 4px !important;
    }
  }

  @media (max-width: 991px) and (min-width: 768px) {
    .seat-area .seat-line .single-seat {
      width: 35px;
      padding: 2px !important;
    }
    .seat-area .seat-line .single-seat img {
      width: 100%;
    }
}