.booking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}

.btn-seat{
    width: 20px;
    height: 10px;
}

.btn-seat:focus{
    background-color: red;
}