.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-info{
    display: flex;
    margin-top: 1rem;
}

.poster-avatar{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.item-name{
    font-size: 2rem;
    font-weight: bolder;
}

.affaction{
    flex: 2;
    justify-content: center;
}

.decription{
    text-align: left;
    font-size: 1.3rem;
}