.booking{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.btn-close{
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-right: 87%;
}

.btn-close:hover{
    background-color: red;
}

.btn-date:hover, .btn-cinema:hover, .btn-time:hover{
    background-color: cornflowerblue;
}

.date, .cinema, .time{
    width: 90%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #dbdcdd;
    border-radius: 1rem;
}


.btn-date, .btn-cinema, .btn-time{
    border-radius: 1rem;
    background-color: white;
    text-align: center;
    margin-left: 1rem;
    width: auto;
    min-width: 5rem;
    height: auto;
    min-height: 2rem;
    border: none;
}
