.detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.aw{
    margin-top: 3rem;
}

.item-info{
    display: flex;
    margin-top: 1rem;
    width: 80%;
    height: auto;
    margin-bottom: 2rem;
}

.infomation{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.poster-avatar{
    width: 20rem;
    height: 20rem;
}

.item-name{
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 2rem;
}


.iconn{
    font-size: 2rem;
}

.iconn:hover{
    color: aquamarine;
}

.decription{
    text-align: left;
    font-size: 1.3rem;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    white-space: pre-wrap;
    -webkit-line-clamp:3
}

.trailer{
    width: 60%;
    height: 30rem;
    margin-bottom: 2rem;
}


.cart{
    margin-left: 1.8rem;
    margin-top: 1rem;
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    border: 0.5px solid #000;
}

.cart:hover{
    background-color: rgb(11, 176, 241);
    color: azure;
    width: 8rem;
    height: 4rem;
    font-size: 2rem;
}


.item-i{
    font-size: 15px;
    margin-left: 1.8rem;
    font-weight: 2rem;

}
